<div>
  <h4>Edycja wydatku</h4>
  <div *ngIf="isSaveFinishedSuccessfully" class="alert alert-success" role="alert">
    Wydatek został zapisany.
  </div>
  <div *ngIf="saveErrorOccurred" class="alert alert-danger" role="alert">
    Wystąpił błąd podczas zapisu wydatku.
  </div>
  <div *ngIf="loadErrorOccurred" class="alert alert-danger" role="alert">
    Wystąpił błąd podczas pobierania informacji o wydatku.
  </div>
  <app-expense-editor
    *ngIf="expense"
    [expense]="expense"
    [settlementId]="settlementId"
    #editor
  >
  </app-expense-editor>
  <button class="btn btn-success" (click)="save(editor.expense)" [disabled]="!isLoaded || isSaveInProgress">
    <span *ngIf="isSaveInProgress" class="spinner-border spinner-border-sm" role="status"></span>
    Zapisz
  </button>
  <button class="btn btn-secondary ml-1" routerLink="..">
    Powrót
  </button>
</div>

