<h4>Lista wydatków</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nazwa</th>
      <th scope="col">Opis</th>
      <th scope="col">Kwota</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of (expenses$ | async)">
      <td><a [routerLink]="[expense.id]">{{ expense.name }}</a></td>
      <td>{{ expense.description | slice:0:100 }}</td>
      <td>{{ expense.amount | number:'1.2-2' }}zł</td>
    </tr>
  </tbody>
</table>

<div>
  <a type="button" class="btn btn-success" routerLink="./create">Dodaj</a>
</div>
