<h4>Lista wydatków</h4>

<div *ngIf="loadErrorOccurred" class="alert alert-danger" role="alert">
  Wystąpił błąd podczas pobierania informacji o wydatkach.
</div>
<div *ngIf="deleteErrorOccurred" class="alert alert-danger" role="alert">
  Wystąpił błąd podczas usuwania wydatku.
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Opis</th>
        <th scope="col">Kiedy</th>
        <th scope="col">Kwota</th>
        <th scope="col">Kto płacił?</th>
        <th scope="col">Uczestnicy</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses; trackBy: trackById">
        <td><a [routerLink]="[expense.id]">{{ expense.name }}</a></td>
        <td>{{ expense.description | slice:0:100 }}</td>
        <td>{{ expense.dateTime | date: 'dd.MM.yyyy H:mm'}}</td>
        <td>{{ expense.amount | number:'1.2-2' }}zł</td>
        <td>{{ expense.whoPaid.displayName }}</td>
        <td><span [tooltip]="participantsList(expense)">{{ participantsInfo(expense) }}</span></td>
        <td><button class="btn btn-danger btn-sm" (click)="deleteExpense(expense.id)">Usuń</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a type="button" class="btn btn-success" routerLink="./create">Dodaj</a>
  <a type="button" class="btn btn-secondary ml-1" routerLink="../../..">Powrót</a>
</div>
