<div class="login center">
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading ">Zaloguj się</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <br>

        <div class="form-group">
            <label for="Login">Login</label>
            <input type="Login" class="form-control" id="Login" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Login" required autofocus>
        </div>
        <div class="form-group">
            <label for="Password">Hasło</label>
            <input type="Password" class="form-control" id="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Hasło" required>
        </div>
        <button class="btn bth-lg btn-success btn-block" type="submit">Zaloguj</button>
        <a routerLink="register" >Nie masz konta? Zarejestruj się</a><br>
    </div>
</form>
</div>