<div class="login center">
<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading center">Zaloguj się</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <br>
        <label for="Login" class="sr-only">Email adress</label>
        <input type="email" id="Login" name="Login" [(ngModel)]="username" class="form-contol credentials" placeholder="User Name"
            required autofocus>
        <br>
        <label for="Password" class="sr-only">Password</label>
        <input type="Password" id="Password" name="Password" [(ngModel)]="password" class="form-contol credentials"
            placeholder="Password" required>
        <br>
        <button class="btn bth-lg btn-success btn-block submit" type="submit">Zaloguj</button>
        <a class="link" routerLink="register" >Zapomniałeś hasła?</a><br>
        <a class="link" routerLink="register" >Nie masz konta? Zarejestruj się</a><br>
    </div>
</form>
</div>