<p *ngIf="li != null">Nazwa: {{li["name"]}}</p>
<p *ngIf="li != null">Opis: {{li["description"]}}</p>
<p><a routerLink="./expenses">Lista wydatków</a></p>
<p><a routerLink="./balances">Bilans</a></p>
<p><a routerLink="./solution">Propnowane rozliczenie</a></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Użytkownik</th>
        <th scope="col">Grupa</th>
        <th scope="col">Ile zapłacił</th>
        <th scope="col" *ngIf="checkRole == 0">Edycja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of this.users">
        <td><a routerLink="{{user['id']}}" >{{user["name"]}}</a></td>
        <!--<td *ngIf="user['group'] == '00000000-0000-0000-0000-000000000000' ">Indywidualna</td>-->
        <td><select class="form-control" id="group" *ngIf="checkRole == 0" (change)="onChangeGroup(user['settlementUserId'],$event.target.value)">
          <option selected="selected">{{user['groupName']}}</option>
          <option *ngFor="let group of groups" [value]="group.id">{{ group.name }}</option>
        </select>
        <p *ngIf="checkRole != 0">{{user['groupName']}}</p>
      </td>
        <td>In Progress</td>
        <td *ngIf="checkRole == 0 && user['role'] != 0"><button class="btn btn-danger btn-sm" (click)="RemoveUserFromSettlement(user['id'], user['name'])">Usuń</button></td> 
      </tr>
    </tbody>
  </table>

  <div class="form-group" [hidden]="hidden">
    <label for="name">Nazwa Użytkownika</label>
    <input type="text" [(ngModel)]="name">
    <input type="text" name="friends" size="50" list="friends" multiple>
    <datalist id="friends">
      <option *ngFor="let friend of this.friends" [value]="friend.login">{{ friend.login }}</option>
    </datalist>
    <a type="button" class="btn btn-success" [hidden]="hidden" (click)="AddUserToSettlement()">Dodaj</a>
  </div>

  <div class="form-group" [hidden]="hiddenGroup">
    <label for="name">Nazwa Grupy</label>
    <input type="text" [(ngModel)]="groupName">
    <a type="button" class="btn btn-success" (click)="AddGroup()">Dodaj</a>
  </div>

  <div class="form-group" [hidden]="hiddenUser">
    <label for="settlementUser.displayName">Nazwa Użytkownika bez konta</label>
    <input type="text" [(ngModel)]="settlementUser.displayName">
    <a type="button" class="btn btn-success" (click)="addUser()">Dodaj</a><br>
    <div *ngIf="friendsToAddList != null" >
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;" *ngFor="let friend of this.friendsToAddList">
        <p>{{friend['name']}}</p>
        <a (click)="removeFromList(friend)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-x-fill" viewBox="0 0 16 16">
          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM6.854 6.146L8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708z"/>
        </svg></a>
      </div>
     
  </div>
    <div class="border border-dark">
      <div class="card" style="width: 18rem;" *ngFor="let friend of this.friends">
        <div class="card-body">
          <h5 class="card-title">{{friend['name']}}</h5>
          <a class="btn btn-primary stretched-link" (click)="addToList(friend)">Dodaj</a>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="checkRole == 0">
    <a type="button" class="btn btn-success" (click)="hiddenChange()">Dodaj Użytkowników </a>
    <a type="button" class="btn btn-success" (click)="hiddenUserChange()">Dodaj Użytkowników Bez Konta</a>
    <a type="button" class="btn btn-success" (click)="hiddenGroupChange()">Dodaj Grupę </a>
    <a type="button" class="btn btn-secondary ml-1" routerLink="../../..">Powrót </a>
    <a type="button" class="btn btn-danger">Zakończ rozliczenie</a>
  </div>

