<p *ngIf="li != null">Name: {{li["name"]}}</p>
<p *ngIf="li != null">Description: {{li["description"]}}</p>
<p><a routerLink="./expenses">Lista wydatków</a></p>
<p><a routerLink="./balances">Bilans</a></p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Użytkownik</th>
        <th scope="col">Grupa</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of this.users">
        <td>{{user["name"]}}</td>
        <td *ngIf="user['group'] == '00000000-0000-0000-0000-000000000000' ">Indywidualna</td>
        <td *ngIf="checkRole == 0"><button class="btn btn-danger btn-sm" (click)="RemoveUserFromSettlement(user['id'])">Usuń</button></td>
      </tr>
    </tbody>
  </table>

  <div class="form-group" [hidden]="hidden">
    <label for="name">Nazwa Użytkownika</label>
    <input type="text" [(ngModel)]="name">
    <a type="button" class="btn btn-success" [hidden]="hidden" (click)="AddUserToSettlement()">Dodaj</a>
  </div>

  <div class="form-group" [hidden]="hiddenGroup">
    <label for="name">Nazwa Grupy</label>
    <input type="text" [(ngModel)]="groupName">
    <a type="button" class="btn btn-success" (click)="AddGroup()">Dodaj</a>
  </div>

  <div *ngIf="checkRole == 0">
    <a type="button" class="btn btn-success" (click)="hiddenChange()">Dodaj Użytkowników</a>
    <a type="button" class="btn btn-success ml-1" (click)="hiddenGroupChange()">Dodaj Grupę</a>
    <a type="button" class="btn btn-secondary ml-1" routerLink="../../..">Powrót</a>
  </div>

