<h4>Proponowane rozliczenie</h4>

<div *ngIf="loadErrorOccurred" class="alert alert-danger" role="alert">
  Wystąpił błąd podczas pobierania listy transakcji.
</div>
<div *ngIf="markAsPaidErrorOccurred" class="alert alert-danger" role="alert">
  Wystąpił błąd podczas tworzenia opłaconej transakcji.
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Kto</th>
        <th scope="col">Komu</th>
        <th scope="col">Ile</th>
        <th scope="col">Akcje</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of solutionTransactions; trackBy: trackById">
        <td>{{ transaction.from.displayName }}</td>
        <td>{{ transaction.to.displayName }}</td>
        <td>{{ transaction.amount | number:'1.2-2' }}zł</td>
        <td>
          <button class="btn btn-success btn-sm" (click)="markAsPaid(transaction)">Oznacz jako opłacona</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <a type="button" class="btn btn-secondary" routerLink="..">Powrót</a>
</div>
