<div>
  <form [formGroup]="form">
    <div class="form-group">
      <label for="name">Nazwa</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>
    <div class="form-group">
      <label for="description">Opis</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>
    <div class="form-group">
      <label for="date">Data</label>
      <input type="text" class="form-control" id="date" formControlName="date"
        bsDatepicker [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }">
    </div>
    <div class="form-group">
      <label for="time">Godzina</label>
      <timepicker id="time" formControlName="time" [showMeridian]="false"></timepicker>
    </div>
    <div class="form-group">
      <label for="amount">Kwota</label>
      <input type="number" class="form-control" id="amount" formControlName="amount">
    </div>
    <div class="form-group">
      <label for="whoPaid">Kto płacił?</label>
      <select class="form-control" id="whoPaid" (change)="onChangeWhoPaid($event.target.value)" formControlName="whoPaidId">
        <option *ngFor="let person of people" [value]="person.id">{{ person.displayName }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Pomiędzy kogo podzielić?</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="splitBetweenAll" id="splitBetween1" [value]="true">
        <label class="form-check-label" for="splitBetween1">
          Wszystkich
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" formControlName="splitBetweenAll" id="splitBetween2" [value]="false">
        <label class="form-check-label" for="splitBetween2">
          Wybranych
        </label>
      </div>
      <div formGroupName="participants">
        <div class="form-check" *ngFor="let person of people">
          <input class="form-check-input" type="checkbox" value="" [id]="'checkbox_' + person.id" [formControlName]="person.id">
          <label class="form-check-label" [for]="'checkbox_' + person.id">
            {{ person.displayName }}
          </label>
        </div>
      </div>
    </div>
  </form>
</div>
