<div class="login center">
<form class="form-signin" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    <div class="container-fluid">
        <h2 class="form-signin-heading">Zarejestruj się</h2>
        <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password</div>
        <br>
        <div class="form-group">
            <label for="Login">Login</label>
            <input type="Login" class="form-control" id="Login" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="Login" required autofocus>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Email" required>
        </div>
        <div class="form-group">
            <label for="Login">Imię i nazwisko</label>
            <input type="Login" class="form-control" id="Login" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" placeholder="Imię i Nazwisko" required autofocus>
        </div>
        <div class="form-group">
            <label for="Password">Hasło</label>
            <input type="Password" class="form-control" id="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="Hasło" required>
        </div>
        <button class="btn bth-lg btn-success btn-block" type="submit">Zarejestruj</button>
    </div>
</form>
</div>