<h4>Lista rozliczeń</h4>
  <div class="row">
    <div class="col-sm">
      <h5>Stworzone przez Ciebie</h5>
      <ul>
        <ng-container *ngFor="let obj of this.li">
          <li *ngIf="obj['idOwner'] == user">
            <a routerLink="{{obj['id']}}" >{{obj["name"]}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-sm">
      <h5>Uczestnik</h5>
      <ul>
        <ng-container *ngFor="let obj of this.li">
          <li *ngIf="obj['idOwner'] != user && user != null">
            <a routerLink="{{obj['id']}}" >{{obj["name"]}}</a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
